{% load static %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FSU Course Search</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Florida State University</h1>
    {% if user.is_authenticated %}
    <nav>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </nav>
    {% endif %}
    <div class="wrapper">
      {% block content %}
      {% endblock %}
  </div>
</body>
</html>