{% extends 'base_layout.html' %}

{% block content %}

    <div class="a" >
        <form  class="site-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
               {{form}}
            
           
            {% if request.GET.next %}
                <input type="hidden" name="next", value="{{ request.GET.next }}">
            {% endif %}    

            <br><br>
            <input class="button1" type="submit" value="Login" >

        </form>
    </div>

    
{% endblock %}